<html>
    <head>
        <title>Music Library</title>
        <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="css/index.css"/>
        <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
        <script src="js/header.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row first_menu">
                <div class="col-2 sf-gray-primary">
                    <header class="header clearfix navbar-shrink before_menu">
                        
                        <ul class="header__menu animate">
                            <li class="header__menu__item"><a href="/?page=home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="header__menu__item"><a href="/"><i class="fa fa-search" aria-hidden="true"></i> Ricerca avanzata</a></li>
                            <li class="header__menu__item"><a href="/"><i class="fa fa-folder" aria-hidden="true"></i> Genere</a></li>
                            <br/>

                            <label>Top 50</label>

                            <li class="header__menu__item"><a href="/?page=dance">Top 50 dance</a></li>
                            <li class="header__menu__item"><a href="/?page=instrumental">Top 50 strumentale</a></li>
                            <li class="header__menu__item"><a href="/?page=artist">Top 50 artists</a></li>
                            <br/>

                            <label>Aggiungi/modifica</label>
                            <li class="header__menu__item"><a href="/">Aggiungi artista</a></li>
                            <li class="header__menu__item"><a href="/">Modifica artista</a></li>
                            <li class="header__menu__item"><a href="/">Aggiungi brano</a></li>
                            <li class="header__menu__item"><a href="/">Modifica brano</a></li>
                        </ul>
                    </header>
                </div>
                <div class="col-8 sf-playlist">
                    <br/>
                    <div class="row search_bar">
                        <div class="col-2">
                            <a href="" class="header__icon-bar">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>  
                        <div class="col-3">
                            <input class="form-control sf-input" placeholder="Search..."/>
                        </div>      
                    </div>
                    <header class="header clearfix navbar-shrink after_menu">
                        
                        <ul class="header__menu animate for_swipe">
                            <li class="header__menu__item"><a href="/?page=home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="header__menu__item"><a href="/"><i class="fa fa-search" aria-hidden="true"></i> Ricerca avanzata</a></li>
                            <li class="header__menu__item"><a href="/"><i class="fa fa-folder" aria-hidden="true"></i> Genere</a></li>

                            <label class="label_menu">Top 50</label>

                            <li class="header__menu__item"><a href="/?page=dance">Top 50 dance</a></li>
                            <li class="header__menu__item"><a href="/?page=instrumental">Top 50 strumentale</a></li>
                            <li class="header__menu__item"><a href="/?page=artist">Top 50 artists</a></li>

                            <label class="label_menu">Aggiungi/modifica</label>
                            <li class="header__menu__item"><a href="/">Aggiungi artista</a></li>
                            <li class="header__menu__item"><a href="/">Modifica artista</a></li>
                            <li class="header__menu__item"><a href="/">Aggiungi brano</a></li>
                            <li class="header__menu__item"><a href="/">Modifica brano</a></li>
                        </ul>
                    </header>
                    <br/>
                    <div class="row">
                        <div class="col-4">
                            <!-- qui ci andrebbe un if sul name giusto? perchè se fai top 50 artisti le colonne cambiano e non c'è piu durata e titolo , ma solo artista-->
                            <!-- if(strcmp(name,"Top 50 artisti"))-->
                            <h4 class="title"><%=name%></h4>
                        </div>              
                    </div>
                    <br/>
                   
                    <div class="row">
                        <div class="col-12">
                            <div style="overflow: auto">
                                <table class="table">
                                    <thead>
                                        <th>#</th>
                                        <th></th>
                                        <th>TITOLO</th>
                                        <th>ARTISTA</th>
                                        <th>DURATA</th>
                                    </thead>
                                    <tbody>
                                        <% var i=1
                                          function millisToMinutesAndSeconds(millis) {
                                            var minutes = Math.floor(millis / 60000);
                                            var seconds = ((millis % 60000) / 1000).toFixed(0);
                                            return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
                                          }
                                    
                                    
                                        %>
                                        <% data.forEach((item) => { %>
                                        <tr class="song_line">
                                            
                                            <td><%=i++%></td>
                                            <td></td>
                                            <td><%=item.name%></td>
                                            <td><%=item.id_artists%></td>
                                            <td><%=millisToMinutesAndSeconds(item.duration_ms);%></td>
                                        </tr>       
                                        <% }) %>                                                                                                                                                                                                                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>